* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.dh1-alt {
    display: none;
}

body {
    height: 100vh;
    display: flex;
}

nav {
    height: 100%;
    background-color: grey;
    width: 20%;
    display: flex;
    justify-content: center;
}

.nav-div {
    background-color: blue;
    height: 100px;
    width: 200px;
    margin-top: 30px;
}

main {
    height: 100%;
    width: 80%;
}

header {
    background-color: ghostwhite;
    height: 20%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.dh1 {
    background-color: grey;
    padding: 10px;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%;
}

.div-section {
    background-color: brown;
    padding: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
}

.cerchio {
    background-color: grey;
    border-radius: 100%;
    height: 40px;
    width: 40px;
}

footer {
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 6px;
}

@media screen and (max-width:778px) {
    footer {
        justify-content: flex-start;
    }
    .div-section {
        background-color: grey;
    }
    .dh2 {
        display: none;
    }
    nav {
        display: none;
    }
    .dh1-alt {
        display: block;
        background-color: blue;
        height: 100px;
        width: 200px;
        margin-top: 30px;
    }
}